/* ---------------------------------- */
/* BASIC SETUP */
/* ---------------------------------- */
html,
body {
  color: #222222;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
.whitespace {
  margin-top: 10px;
}
/* ---------------------------------- */
/* HEADER */
/* ---------------------------------- */

header {
  background: #1976D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C418D, #1976D2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C418D, #1976D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 700px;
}
.proiectul-position img {
  position: absolute;
  margin-left: -12px;
}
.last-p-header {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

/* ------------ NAVBAR ------------*/

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: .1px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}
.navbar-default .navbar-nav>li {
  margin-left: 80px;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
    border-bottom: 2px solid #fff;
}
.navbar {
  border: none;
  background-color: transparent;
  padding-top: 50px;
}
.navbar-brand {
  padding: 0 15px;  
}
.navbar-brand img {
  max-height: 50px;
  width: 50px;
  height: auto;
}

/* ------------ THUMBNAILS ------------*/

.thumbnail {
  background-color: #1976D2;
  border-radius: 0;
  border: none;
  height: 270px;
  box-shadow: 0 4px 8px 0 rgba(11, 51, 114, 0.2), 0 6px 20px 0 rgba(11, 51, 114, 0.19);
}
.thumbnail img {
  margin-top: 30px;
  width: 70px;
  height: 70px;
}
.thumbnail-title {
  margin-top: 60px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 100px;
  text-align: center;
}
.caption h3,
.caption p {
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.caption h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

/* ---------------------------------- */
/* SECTION 1 */
/* ---------------------------------- */
.section-1-bg {
  background-image: url('../img/mask.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}
.section-margin {
  margin-top: 60px;
}
.icon-small {
  width: 40px;
}
.section-text {
  color: #fff;
  letter-spacing: .2px;
  line-height: 22px;
  float: right;
}
.section-text h4 {
  font-weight: 700;
  font-size: 20px;
}
.section-text p {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
}
.section-text span {
  font-weight: 700;
  font-size: 15px;
}
.section-img {
  width: 250px;
  margin-left: 200px;
}
.section-img img {
  float: right;
}

/* ---------------------------------- */
/* SECTION 2 */
/* ---------------------------------- */

.section-2-bg .section-text{
  color: #0C418D;
}
.clear {
  clear: both;
  content: " ";
  display: table;
}
.section-2-bg .section-text {
  float: left;
}
.section-2-bg .section-img {
  width: 400px;
  margin-left: 90px;
}