/* ---------------------------------- */
/* BASIC SETUP */
/* ---------------------------------- */
html,
body {
  color: #222222;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
.whitespace {
  padding-top: 1px;
}
/* ---------------------------------- */
/* HEADER */
/* ---------------------------------- */

header {
  background: #1976D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C418D, #1976D2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C418D, #1976D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 700px;
}
.proiectul-position img {
  position: absolute;
  margin-left: -12px;
}
.last-p-header {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

/* ------------ NAVBAR ------------*/

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: .1px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}
.navbar-default .navbar-nav>li {
  margin-left: 80px;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
    border-bottom: 2px solid #fff;
}
.navbar {
  border: none;
  background-color: transparent;
  padding-top: 50px;
}
.navbar-brand {
  padding: 0 15px;
}
.navbar-brand img {
  max-height: 50px;
  width: 50px;
  height: auto;
}

/* ------------ THUMBNAILS ------------*/

.thumbnail {
  background-color: #1976D2;
  border-radius: 0;
  border: none;
  height: 270px;
  box-shadow: 0 4px 8px 0 rgba(11, 51, 114, 0.2), 0 6px 20px 0 rgba(11, 51, 114, 0.19);
}
.thumbnail img {
  margin-top: 30px;
  width: 70px;
  height: 70px;
}
.thumbnail-title {
  margin-top: 60px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 100px;
  text-align: center;
}
.caption h3,
.caption p {
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.caption h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

/* ---------------------------------- */
/* SECTION 1 */
/* ---------------------------------- */
.section-1-bg,
.section-3-bg,
footer {
  background-image: url('../img/mask.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-margin {
  margin-top: 60px;
}
.icon-small {
  width: 40px;
}
.section-text {
  color: #fff;
  letter-spacing: .2px;
  line-height: 22px;
  float: right;
}
.section-text h4 {
  font-weight: 700;
  font-size: 20px;
}
.section-text p {
  width: 500px;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
}
.section-text span {
  font-weight: 700;
  font-size: 15px;
}
.section-1-bg .section-img img {
  position: relative;
  width: 200px;
  top: 20px;
  left: 35%;
}

/* ---------------------------------- */
/* SECTION 2 */
/* ---------------------------------- */
.section-2-bg {
  margin-top: 30px;
}
.section-2-bg .section-text {
  color: #0C418D;
}
.clear {
  clear: both;
  content: " ";
  display: table;
}
.section-2-bg .section-text {
  float: left;
}
.section-2-bg .section-img img {
  position: relative;
  width: 450px;
  left: 10%;
}
.section-2-bg .icon-small {
  color: #0C418D;
}

/* ---------------------------------- */
/* SECTION 3 */
/* ---------------------------------- */
.section-3-bg .section-img img {
  position: relative;
  top: 20px;
}

/* ---------------------------------- */
/* SECTION 4  - form*/
/* ---------------------------------- */
.form {
  background-color: #f0f0f5;
  height: auto;
  padding: 70px;
}
.form-layout {
  margin-bottom: 15px;
  padding: 0;
}
.btn-custom {
  color: #fff;
  background-color: #0C418D;
  height: 50px;
  margin-top: 30px;
}
.btn-custom:hover {
  color: #fff;
  background-color: #1976D2;
}

/* ---------------------------------- */
/* FOOTER*/
/* ---------------------------------- */

footer div.czl-social-media-container {
  margin-top: 30px;
}

@media(min-width:992px) {
  .czl-row-eq-height div[class^='col-'] {
    height: 42px;
  }

  footer div.czl-social-media-container {
    margin-top: 0;
  }
}

#brand-footer {
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 16px;
  color: #fff;
  letter-spacing: .5px;
}

#brand-footer img {
  height: 42px;
}

#copyright-footer {
  text-align:center;
  color: white;
  font-size: 11px;
  letter-spacing: .5px;
  font-weight: 200;
}

#copyright-footer img {
  margin-bottom: 5px;
}

div.czl-flex-center
{
    display: flex;

    align-items: center;
    justify-content: center;
}

footer div.social-media-icon
{
    display: flex;

    width: 2.5ch;
    height: 2.5ch;
    margin: 5px;

    border-radius: 100px;
    background-color: white;

    align-items: center;
    justify-content: center;
}


footer div.czl-social-media-container a
{
    text-decoration: none;

    color: #0d47a1;
}

footer div.czl-social-media-container a:hover
{
    color: #0d47a1;
}

footer .social-media-icon:hover
{
    background-color: yellow; /* temporary */
}

@media(min-width:992px)
{
    footer div.czl-social-media-container div.social-media-icon
    {
        font-size: 80%;
    }
}


footer {
  color: white;
  text-align: center;
  letter-spacing: .1px;
}

footer div.container > div.row {
  margin-top:43px;
}

footer div.container > div.row:last-child {
  margin-bottom: 10px;
}

footer a {
  color: #FFF;
}

footer a:hover {
  color: #FFF;
}

/* ---------------------------------- */
/* CZL-FORM */
/* ---------------------------------- */

form.czl-form label {
  font-weight: 400;
}

form.czl-form input, form.czl-form span.input-group-addon {
  border: none;
  background-color: #fff;
  height: 34px;
}

/* Round borders */
form.czl-form div.input-group > *:first-child {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding-left: 17px;
}
form.czl-form div.input-group > *:last-child {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

/* Icon position */
span.input-group-addon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  min-width: 50px;
}

/* e-mail icon */
span.input-group-addon.input-group-addon-czl-email {
  background-image: url(../img/email-icon.svg);
}
